.describe-results {
    flex-grow: 0;
}

.explore-results-container {
    overflow: hidden;
}

.explore-results-inner-container {
    min-height: 0;
}

.explore-results-inner-container > div {
    height: 100%;
}

/* the container where the results are displayed */
.explore-results-inner-container > div > div:first-child {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible !important;
}

/* actual spinner overlay */
.explore-results-inner-container > div > div:last-child {
    background-color: rgba(255, 255, 255, 0.8);
}

.load-more-btn-container {
    justify-content: center;
}


.explore-results-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.explore-results-item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

.explore-results-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.question-input {
    width: 100%;
    min-height: 60px;
    max-height: 60px;
}

@media (min-width: 600px) {
    .explore-results-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .explore-results-grid { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
    .explore-results-grid { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1500px) {
    .explore-results-grid { grid-template-columns: repeat(5, 1fr); }
}
